<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_job_job_association.event.name %>
</p>

<p>
  <strong>Predecessor:</strong>
  <%= @event_job_job_association.predecessor.name %>
</p>

<p>
  <strong>Successor:</strong>
  <%= @event_job_job_association.successor.name %>
</p>

<%= link_to 'Edit', edit_event_job_job_association_path(@event_job_job_association) %> |
<%= link_to 'Back', event_job_job_associations_path %>
