<p id="notice"><%= notice %></p>

<h1>Listing Event Job Period Associations</h1>

<table id="eve_jo_per_assoc" class="display">
  <thead>
  <tr>
    <th>Event</th>
    <th>Job</th>
    <th>Period</th>
    <th>Job end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @event_job_period_associations.each do |event_job_period_association| %>
      <tr>
        <td><%= event_job_period_association.event.name %></td>
        <td><%= event_job_period_association.job.name %></td>
        <td><%= event_job_period_association.period.time%></td>
        <td><%= event_job_period_association.job_end %></td>
        <td><%= link_to 'Show', event_job_period_association %></td>
        <td><%= link_to 'Edit', edit_event_job_period_association_path(event_job_period_association) %></td>
        <td><%= link_to 'Destroy', event_job_period_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event job period association', new_event_job_period_association_path %>
<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>