<% provide(:title, "Kontakt") %>
<!DOCTYPE html>
<html>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>
  <h1>Kontaktieren Sie uns!</h1>
  <p>Für Feedback usw...</p>
  </body>
</div>
</html>