<p id="notice"><%= notice %></p>

<h1>Listing Periods</h1>

<%= column_chart add_cappa_chart_data,
                 xtitle: 'Datum',
                 ytitle: 'Anzahl Zusatzkapazität',
                 height: "400px",
                 library: {backgroundColor: 'white'},
                 legend: false,
                 color: 'blue',
                 stacked: false
%>
<br>
<br>
<br>

<table id="periods" class="display">
  <thead>
  <tr>
    <th>Periode</th>
    <th>Datum</th>
    <th>Zusätzliche Kapazität</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.time %></td>
        <td><%= period.add_cappa %></td>
        <td><%= link_to 'Show', period %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period', new_period_path %>
<br>

<p>
  <b>Anzahl Zusätzliche Kapazität:</b>
  <%= @sum_add_cappa %> Hilfskräfte
</p>

<p>
  <b>Anzahl Perioden:</b>
  <%= @number_of_periods %> Perioden
</p>


<%= form_tag change_periods_path %>
<div class="field">
  <%= label_tag :mynewnumber, "Meine neue Anzahl von Perioden" %>
  <%= text_field_tag :mynewnumber, @mynumber_of_periods  %>
</div>
<%= submit_tag "Anzahl Perioden anpassen" %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>


