<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @period.time %>
</p>

<p>
  <strong>Add cappa:</strong>
  <%= @period.add_cappa %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
