<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Impressum", '#' %></li>
    </ul>
  </nav>
</footer>